* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} 

/* Colors */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    height: 100vh;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    min-width: 280px;
    max-width: 375px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 15px 15px 15px 15px;
    height: 570px;
}

.card-qr-code {
    min-width: 250px;
    max-width: 345px;
}

.card-qr-code img { width: 100%; border-radius: 15px 15px 15px 15px; }

.card-description {
    text-align: center;
    font-family: 'Outfit';
    padding: 20px 20px 0 20px;
}

.card-description .title {
    font-size: 25px;
    font-weight: 700;
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.card-description .content {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
}